# Ignore Jekyll build output
_site/
_includes/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Lock files
_data/.~lock.*.csv#
_utils/.snakemake
_utils/logs
_utils/downloads
_utils/.env
_utils/scripts/__pycache__